/* Hero section */
.hero-desktop-bg-img-wrapper {
  display: none;
}

.hero-section {
  padding-top: 100px;
  padding-bottom: 370px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(/img/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 375px 370px;
  background-position: bottom;

  position: relative;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-mobile@2x.jpg);
  }
}

/* --TABLET-- */

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 122px;
    padding-bottom: 539px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-tablet.jpg);
    background-size: 768px 539px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  .hero-text {
    width: 603px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/hero/hero-tablet@2x.jpg);
    }
  }
}

/* --/TABLET-- */
/* --DESKTOP-- */

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 238px;
    padding-bottom: 50px;

    background-image: none;
  }

  .hero-desktop-bg-img-wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 800px;
    width: 50vw;
  }

  .hero-desktop-bg-img {
    height: 100%;
    width: 100%;
    /* max-width: 850px; */
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-desctop.jpg);
    background-repeat: no-repeat;
    /* background-size: 650px 800px; */
    background-size: cover;
    background-position: left;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-desktop-bg-img {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/hero/hero-desctop@2x.jpg);
    }
  }

  .hero-title {
    width: 502px;
    margin-bottom: 128px;
  }

  .hero-text {
    width: 470px;
    margin-bottom: 0;
  }
}

/* --/DESKTOP-- */
